@keyframes animation_test{
    from{
        background-color: #dd9900;
        }
        to{
            background-color: #aaff11;
            }
}
 
 @keyframes girar{
     from{
         transform: rotate(0deg);
         }
         to{
             transform: rotate(360deg)
         }
}
 
 
@keyframes label-animacion{
    from{
        transform:rotate(0deg);
        margin-left:0;
    }
    to{
        transform:rotate(180deg);
        margin-left: 85vw;
    }
}

.label-cointainer{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;}
}

.label{
    width: 64px;
    background-color: rgb:(60,190,80);
    color: White;
    front-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    animation-name: label-animacion;
    animation-duratiin: 5s;
    animation-timing-function: ease-int-out;
    animation-interation-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 16px solid rgb: ( 0 , 171 , 255 );
    borde superior :  16 px rgb sólido ( 255 ,  115 ,  0 );
    borde-radio :  50 % ;
    animación : girar 2 s facilidad de entrada y salida infinita;
}

.loader-doble {
    ancho :  64 píxeles ;
    altura :  64 píxeles ;
    borde :  16 px sólido rgb ( 36 ,  33 ,  212 );
    borde superior :  16 px rgb sólido ( 227 ,  247 ,  52 );
    borde inferior :  16 px rgb sólido ( 255 ,  150 ,  89 );
    borde-radio :  50 % ;
    animación : girar 2 s facilidad de entrada y salida infinita;
}
     
.animada{
    width: 100%
    background-color: #dd9900;
    color: white;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animation_test 2s alternate infinite;
}